<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Projet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AuthentifServlet</display-name>
    <servlet-name>AuthentifServlet</servlet-name>
    <servlet-class>controllers.AuthentifServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthentifServlet</servlet-name>
    <url-pattern>/AuthentifServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DirecteurServlet</display-name>
    <servlet-name>DirecteurServlet</servlet-name>
    <servlet-class>controllers.DirecteurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DirecteurServlet</servlet-name>
    <url-pattern>/DirecteurServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreationServlet</display-name>
    <servlet-name>CreationServlet</servlet-name>
    <servlet-class>controllers.CreationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreationServlet</servlet-name>
    <url-pattern>/CreationServlet</url-pattern>
  </servlet-mapping>
</web-app>